* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gowun Dodum", sans-serif;
  /* font-family: "Noto Sans KR", sans-serif; */
  color: #2b1b17;
}
/* 전체 */
body {
  line-height: 1.5;
}
a {
  text-decoration: none;
}


/* 헤더 */
.header {
  width: 100vw;
  height: 65px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #2b1b17;
}
.header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  height: 100%;
  object-fit: fill;
}
i {
  padding: 0 15px;
}
/* 네브바 */
#nav_box {
  display: none;
}
#nav_list {
  width: 200px;
  height: 100%;
  background: #2b1b17;
  position: fixed;
  right: -200px;
  transition: all 0.35s;
  opacity: 0.5;
  z-index: 1;
  top: 0;
  padding: 15px;
}
#nav_list a {
  color: #dfd8c7;
}
#nav_box:checked + #nav_icon + #nav_list {
  right: 0;
}
#nav_icon {
  position: fixed;
  cursor: pointer;
  right: 0;
  transition: all 0.35s;
  z-index: 2;
}
#nav_box:checked + #nav_icon {
  z-index: 2;
  right: 200px;
}
#nav_list p {
  padding: 15px 0;
}


/*  section #main-video */
#main-video {
  overflow: hidden;
  margin-bottom: 30px;
}
.mo-video {
  width: 67.5vh;
  height: 120vh;
}

#main-video .video-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}
#main-video .video-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  margin-top: -10vh;
}

.video-text p {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
}
#main-video p {
  margin: 0;
}


/* section #sulloc */
#list {
  display: none;
}

@media screen and (min-width: 768px) {
  #list {
    display: flex;
    justify-content: center;
  }
  #list p {
    padding: 10px 15px;
  }
}

#sulloc {
  padding: 100px 10;
  margin: 0 auto;
  width: 100vw;
}
/* #intro */
#findOsulloc, .introBox {
  text-align: center;
  width: 100%;
  margin: 100px auto;
  text-align: center;
  padding: 10px;
}
.title, .subtitle {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  margin: 30px 0;
}
.subtitle {
  font-size: 24px;
  font-weight: bold;
}
.introText {
  margin-bottom: 70px;
  word-break: keep-all;
}
.intro-img {
  width: 95%;
  height: 120px;
}

.story_link {
}
/* SIGNATURE */

.tab_content {
  margin: 30px auto;
  text-align: center;
}
.conbox {
  display: none;
  text-align: center;
  background: #2b1b17;
  width: 100%;
}

input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block;
  padding: 10px;
  color: #2b1b17;
  cursor: pointer;
  font-size: 0.98rem;
}
input[type="radio"]:checked + label {
  background: #2b1b17;
  color: #dfd8c7;
  font-weight: bold;
}
#tab01:checked ~ .sejac,
#tab02:checked ~ .gtlt,
#tab03:checked ~ .ofrd,
#tab04:checked ~ .fhgt {
  display: inline-block;
}
.tab_content video {
  margin: 50px 0 20px 0;
  width: 80vw;
}
.conbox p {
  color:#dfd8c7;
  padding: 10px;
  margin-bottom: 50px;
}

/* enjoy osulloc */
#enjoy {
  padding: 10px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}



/* footer */
#footer {
  background: #2b1b17;
}
#footer > * {
  color: #dfd8c7;
}
.footer-t {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#house-scroll {
  display: none;
}
